<?xml version="1.0"?>

<suppressions>
    <suppress checks="FinalParameters"/>
    <suppress checks="HiddenField"/>
    <suppress checks="DesignForExtension"/>
    <suppress checks="MagicNumber"/>
</suppressions>

<module name="TreeWalker">

        <!-- ===== Naming rules ===== -->

        <!-- Allow multiple uppercase letters in method names -->
        <!-- e.g. getHTTPResponse, parseXML -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="HiddenField">
            <property name="severity" value="warning"/>
        </module>        

        <module name="FinalParameters">
            <property name="severity" value="warning"/>
        </module>
        
        <module name="DesignForExtension">
            <property name="severity" value="warning"/>
        </module>        
</module>
