name: Java Linting

on: [push, pull_request]

jobs:
  checkstyle:
    name: Checkstyle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          

      - name: Lint Java
        uses: github/super-linter@v5
        env:
          VALIDATE_JAVA: true
          DEFAULT_BRANCH: main
          
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          JAVA_CHECKSTYLE_CONFIG_FILE: checkstyle.xml
